.step{
    --step-accent-color:var(--neutral-light);

    display: flex;
    background: var(--neutral-dark);
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid var(--step-accent-color);
    margin:10px;
    overflow: hidden;
}

.head{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 2px solid var(--neutral-light);
    padding: 10px;
}

.content{
    background: var(--neutral-med);
    padding: 10px;
}

.info{
    --step-accent-color:var(--step-info);
}