.lesson{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left:6px;
    padding-right:6px;
    padding-bottom:6px;
    justify-content: space-between;
}

.bottomBar{
    margin-bottom: 6px;
}