.primaryButton {
    background-color: var(--primary);
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.25s;
}

.icon{
    width: 1.1em;
}

.inactive{
    background-color: var(--neutral-light);
}