.stepsPanel{
    background: var(--neutral-dark);
}

.codePanel{
    background: var(--neutral-med);
    border-right:2px solid var(--neutral-light);
    border-left:2px solid var(--neutral-light);
}

.outputPanel{
    background: var(--neutral-dark);
    border-bottom:2px solid var(--neutral-light)
}

.consolePanel{
    background: var(--neutral-dark);
}