.wrapper{
    height: 100vh;
    --navbar-height: 48px;
}

.head{
    height: var(--navbar-height);
    background: var(--neutral-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:8px;
}

.iconGroup img{
    margin-right:8px;
}
.iconGroup{
    display: flex;
}
.runButton{
    display: flex;
    padding: 2px 6px;
    margin-right:8px;
}
.runButton span{
    display: flex;
    align-items: center;
    flex:1;
}

.runButton img{
    margin-left:8px;
    margin-right: 0;
}

.body{
    flex:1;
    height: calc(100vh - var(--navbar-height));
}

.stepsPanel{
    background: var(--neutral-dark);
}

.codePanel{
    background: var(--neutral-med);
    border-right:1px solid var(--neutral-light);
    border-left:1px solid var(--neutral-light);
}

.outputPanel{
    background: var(--neutral-dark);
    border-bottom:1px solid var(--neutral-light)
}

.consolePanel{
    background: var(--neutral-dark);
}
