.header{
    height:200px;
    background-color:var(--neutral-dark);
    border-bottom: 1px solid var(--neutral-light);
    display:flex;
    align-items: center;
    padding-left: 16px;
}

.welcome{
    font-size: 4rem;
}

.gridWrapper{
    display: flex;
    justify-content: center;
}