.svg{
    height: calc(100% - var(--padding) * 2);
}

.parent{
    --padding: 8px;

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding:8px;
    position: relative;
}

.heading{
    position:absolute;
    top:var(--padding);
    left:var(--padding);
}