.list{
    width: 66%;
    border-right:1px solid var(--neutral-light);
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
}
.projList{
    display: flex;
    flex-direction: column;
    flex:1;
    gap: 12px;
}
.viewAllContainer{
    display: flex;
    flex-direction: row-reverse;
}
.openButton{
    font-size:1.5rem;
}

.details{
    width: 34%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

