.item{
    border: 1px solid var(--neutral-light);
    border-radius: 10px;
    padding:8px;
    display:flex;
    /*flex-basis: 20%;*/
    flex-grow:0;
    flex-shrink:1;
    align-items: center;
    justify-content: space-between;
    transition: border-color ease-in-out .15s;
}

.item:hover {
    border-color: var(--primary);
}

.title{
    font-weight: 300;
}

.extras{
    display:flex;
}

.age{
    margin-right:32px;
}

.type{

}