.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.heading1{
    font-size: 2em;
}

.heading2{
    font-size: 1.5em;
}

.inlineCode{
    background:var(--neutral-light);
    padding:2px;
    border-radius:3px;
}

.uList{
    padding-left:16px;
}
.uList::before{
    content:"•";
}

.blockQuote{
    padding:4px;
    padding-left:6px;
    margin-left:16px;
    border-left:2px solid var(--neutral-light);
    display:block;
    background:var(--neutral-med);
}

.line{
    display:flex;

}
.line::before{
    display:inline-block;
    content:"";
    width:40%;
    height:1px;

    background:var(--neutral-light);
}