.modal{
    background:var(--neutral-med);
    border: 1px solid var(--neutral-light);
    border-radius: 16px;
    padding: 8px 16px;

    display: flex;
    flex-direction: column;

    min-height: 50vh;
    min-width: 50vw;

    justify-content: space-between;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.31);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}