.tabsPanel {
    border-right: 2px solid var(--neutral-light);
    overflow-y: auto !important;
}

.editorPanel{
    border-right:2px solid var(--neutral-light)
}

.previewPanel{
    overflow-y: auto !important;
}