.title{
    display: flex;
    flex-direction: column;
}
.visText{
    text-decoration: underline;
}
.secondaryButtons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 12px;
}
.secondaryButtons div{
    flex-basis: 50%;
}
.openButton{
    padding: 12px;
}