.editableStep {
    padding:6px;

    gap:4px;

    display: flex;
    flex-direction: column;

    transition: border-color .25s;
}

.topBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}