.editableStep {

    border: 2px dashed transparent;
    border-radius: 10px;
    padding:6px;

    gap:4px;

    display: flex;
    flex-direction: column;

    transition: border-color .25s;
}

.editableStep:hover {
    border-color:var(--neutral-light);
}