.editor{
    display: flex;
    padding: 8px;
    flex-direction: column;
    gap:12px;
}

.selectPrompt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color:var(--sub-text);
}

.addButton{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2rem;
}