.body{
    padding:8px;
}

.step{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--neutral-dark);
    border: 2px solid var(--neutral-light);
    padding:6px;
    border-radius: 10px;
    min-width:200px;
    min-height:100px;

    transition: border-color linear .2s;
}

.stepGrid{
    margin-top:4px;
    display:flex;
    flex-wrap: wrap;
    gap:12px;
}

.selected{
    border: 2px solid var(--primary);
}

.stepHead{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.stepPreview{
    color:var(--sub-text)
}