.selectPrompt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color:var(--sub-text)
}

.preview{
    display: flex;
    flex-direction: column;
    padding:2px;
}

.component{
    border: 2px dashed transparent;
    border-radius: 10px;
    transition: border-color ease-in-out .25s;
    padding:4px;
}

.component:hover{
    border-color:var(--neutral-light);
}