.body{
    padding:8px;
}

.step{
    display:flex;
    flex-direction: column;
    background-color: var(--neutral-dark);
    border: 2px solid var(--neutral-light);
    padding:4px;
    margin-top:12px;
    border-radius: 5px;
}