:root{
    /* Palette */
    --brand-purple: #8A13E5;
    --brand-gray-light:#46494C;
    --brand-gray-med:#151516;
    --brand-gray-dark:#0F0F10;
}

:root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --mono-font: "JetBrains Mono";
    --ui-font: "JetBrains Mono";


    --neutral-dark:#0F0F10;
    --neutral-med:#151516;
    --neutral-light:#46494C;

    --neutral-icon:#7D7C7C;

    --transparent-primary: rgba(60, 4, 102, 0.52);
    --primary:#8A13E5;
    --primary-dark:#3C0466;

    --error:#E83C19;

    --step-info:#1974E8;
    --step-code:#19E823;
    --step-challenge:#E83C19;
    --step-check:#D019E8;
    --step-next:#F1C31C;

    --default-text-color:#fff;
    --sub-text: #6d7071;
}

*{
    scrollbar-color: var(--neutral-light) transparent   ;
}

*{
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    font-family: sans-serif, system-ui, monospace, Helvetica, Arial, sans-serif;
    font-family: var(--ui-font);
    color: var(--default-text-color)
}

html{
    font-size: 14pt;
}

body{
    margin: 0;
    background-color: var(--neutral-med);
}