@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  font-family: "JetBrains Mono", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --neutral-dark:#0F0F10;
  --neutral-med:#151516;
  --neutral-light:#46494C;

  --default-text-color:#fff;

  color: var(--default-text-color)
}

body{
  margin: 0;
}