:root{
    /* Palette */
    --brand-purple: #8A13E5;
    --brand-gray-light:#46494C;
    --brand-gray-med:#151516;
    --brand-gray-dark:#0F0F10;

    --mono-font: "JetBrains Mono";
    --ui-font: "JetBrains Mono";
}

.radix-themes {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --neutral-dark:var(--gray-1);
    --neutral-med:var(--gray-2);
    --neutral-light:var(--gray-7);

    --neutral-icon:#7D7C7C;

    --transparent-primary: rgba(60, 4, 102, 0.52);
    --primary:var(--purple-9);

    --error:#E83C19;

    --step-info:#1974E8;
    --step-code:#19E823;
    --step-challenge:#E83C19;
    --step-check:#D019E8;
    --step-next:#F1C31C;

    --default-text-color:#b6bec9;
    --sub-text: #6d7071;
}

*{
    scrollbar-color: var(--neutral-light) transparent   ;
}

*{
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    font-family: sans-serif, system-ui, monospace, Helvetica, Arial, sans-serif;
    font-family: var(--ui-font);
}

html{
    /*font-size: 14pt;*/
}

body{
    margin: 0;
    background-color: var(--neutral-med);
}