.textContainer{

}

.text{
    font-size: 2rem;
}
.textNorm{
    font-size: 1rem;
}

.background{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--neutral-dark)
}